/**
 * {{summary}}
 *
 * {{method}}: {{& fullPath}}
 * {{#params}}
 * {{groupId}}:
 *   {{#properties}}{{& details}}
 *   {{/properties}}{{/params}}
 */
export function {{id}}(req, res, next) {
	res.send('{{id}}')
	next()
}
